@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{  /* Estas variables con llamas customizar propiedades y root es un seudoclase aqui se puede acceder a estos elementos */
    --padding-container: 6.25rem 0;
    --color-title: #001A49;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden; /* esto es para que se escondan los elementos*/ 
    padding: var(--padding-container); /*esto es la forma de usar el root*/
}
.hero{
    width: 100%;
    height: 100vh;
    min-height: 37.5rem;
    max-height: 50rem;
    position: relative; /*para que los elementos se posicionen permanentemente en el contenedor*/
    display: grid; /*se quiere crear dos filas*/
    grid-template-rows: 6.25rem 1fr; /*aqui el 1fr tomara el contenido que sobra de los 100px*/
    color: #fff;
}

.hero::before{ /*esto es un seudo elemento*/
    content: "";
    position: absolute; /*Aqui se posiciona absolutamente al padre que es  Hero*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../image/tablePC.jpg);/*el l-g no es un degradado le da una transparencia a la imagen que esta dentro de un url*/
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1; /*antes no aparecia las letras esto lo arregla*/
}

/*NAV*/

.nav{
    --padding-container:0; /*esto hace que solamente el root lo contenga el header y nav*/
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300; /*aqui se usa el poppins 300*/

}

.nav__items{
    list-style: none;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column; /*esto es el flujo de las columnas, para que dirección van*/
    grid-auto-columns: max-content;
    gap: 2em; /*son los espacios que hay entre las palabras de la nav*/
}

.nav__links{
    color:#fff;
    text-decoration: none;
}

.nav__menu{     /*este el el padre de nav__img*/
    margin-left: auto;
    cursor: pointer; /* cada vez que se pasa el cursor se transforma en una manito*/
    display: none; /*no se vera hasta que se este en dispositivos móviles*/
}
.nav__img{
    display: block;
    width: 1.875rem;
}

.nav__close{
    display: var(--show, none); /*aqui se muetra una variable */
}

/*HERO CONTAINER el que esta en la section*/

.hero__container{
    max-width: 50rem;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 6.25rem;
    text-align: center;
}

.hero__title{
    font-size: 2.5rem;
}

.hero__paragraph{
    margin-bottom: 1.25rem;
}

.cta{
    display: inline-block;
    background-color: #45e;
    justify-self: center ;
    text-decoration: none;
    color: #fff;
    padding: 13px 30px;
    border-radius: 1.25rem;
    margin-top: 15px;
}

/*About*/
.about{
    text-align: center;
}

.subtitle{
    color:var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
    margin-top: 15px;
}

.about__paragraph{
    line-height: 1.7;
}

.about__main{
    padding-top: 5rem;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(16.25rem, auto)); /*aqui se crean columnas dinamicas se repetiran tantas columnas como sea necesaria y además no es necesario media query*/
}

.about__icons{
    display: grid;
    gap: 1em; /*espaciado en cada elemento*/
    justify-items: center;
    width: 16.25rem;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon{
    width: 2.5rem;
}

/*KNOWLEDGE*/

.knowledge{
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 31.25rem;
}

.knowledge_paragraph{
    line-height: 1.8;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

/*Price*/

.price{
    text-align: center;
}

.price__table{
    padding-top: 3.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius:10px;
    width: 13.75rem;
    padding: 2.5rem;
    --color-plan: #696871;
    --color-price: #1d293f;
    --bg-cta:#ffff;
    --color-cta:#5454d4;
    --color-items:#695871;
}

.price__name{
    color:var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price__element--best{
    width: 300px;
    padding: 60px 40px;
    background-color: #e2653b;
    --color-plan: rgb(255 255 255 / 75%);/*nueva forma de declarar los rgb junto con los alfa*/  
    --color-price:#fff ;
    --bg-cta:#c2421b;
    --color-cta:#fff;
    --color-items:#fff;
}

.price__price{
    font-size: 2rem;
    color:var(--color-plan)
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap:1em;
    font-weight: 300;
    font-size: 1em;
    margin-bottom: 60px;
    color:var(--color-items)
}

.price__cta{
    display: block; /*ocupara todo el ancho*/
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

/*Testimony*/

.testimony {
    background-color: #e5e5f7;
    margin-top: 15px;
}

.testimony__container {
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        gap: 1em;
        align-items: center;
    }

.testimony__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-column: 2/3;
    grid-row: 1/2;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.testimony__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover; 
    object-position: 50% 30%; /*? aqui ajusta la fotografía un 50% horizontalmente centrada y el 30% se refiere a la posicion y*/
}

.testimony__texts {
    max-width: 700px;
}

.testimony__course {
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow {
    width: 90%;
    cursor: pointer;
}